:root {
  /* Colors */
  --aof-red: #ff5252;
  --aof-orange: #f64013;
  --aof-yellow: #ffbe41;
  --aof-green: #3fab7e;
  --aof-blue: #54bdbb;
  --aof-purple: #522887;
  --aof-pink: #ffa09a;

  /* Font weights */
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;

  /* Clamps */
  --clamp-10-16: clamp(10px, 2.5vw, 16px);
}
