:root {
  /* Colors */
  --aof-red: #FF5252;
  --aof-orange: #F64013;
  --aof-yellow: #FFBE41;
  --aof-green: #3FAB7E;
  --aof-blue: #54BDBB;
  --aof-purple: #522887;
  --aof-pink: #FFA09A;

  /* Font weights */
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
}
