h1 {
  font-size: clamp(54px, calc(54 / 375 * 100vw), 94px);
  font-weight: var(--black);
  line-height: 0.9;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  max-width: 7ch;
}

h2 {
  font-size: clamp(32px, calc(32 / 375 * 100vw), 45px);
  font-weight: 900;
  line-height: 1;
  margin-bottom: clamp(10px, calc(10 / 375 * 100vw), 16px);
  text-transform: uppercase;
}

h3 {
  font-size: clamp(20px, calc(20 / 375 * 100vw), 30px);
  margin-bottom: clamp(20px, calc(20 / 375 * 100vw), 30px);
  line-height: 1;
  text-transform: uppercase;
}

p {
  font-size: clamp(12px, calc(12 / 375 * 100vw), 16px);
  font-weight: var(--medium);
  margin-bottom: var(--clamp-10-16);
}

.intro {
  font-size: clamp(16px, calc(16 / 375 * 100vw), 22px);
  line-height: 1.27272;
  margin-bottom: clamp(20px, calc(20 / 375 * 100vw), 26px);
}
