h1 {
  font-size: clamp(54px, 14.4vw, 94px);
  font-weight: var(--black);
  line-height: 0.9;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  max-width: 7ch;

  /* @media (--large-desktop) {
    font-size: 94px;
  } */
}

h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media (--large-desktop) {
    font-size: 45px;
    margin-bottom: 16px;
  }
}

p {
  font-size: clamp(12px, 3.200vw, 16px);
  font-weight: var(--medium);
  margin-bottom: clamp(10px, 2.666666666666667vw, 16px);

  /* @media (--large-desktop) {
    font-size: 16px;
    margin-bottom: 16px;
  } */
}

.intro {
  font-size: 22px;
  line-height: 1.27272;
  margin-bottom: 26px;
}
