h1 {
  font-size: 94px;
  font-weight: 900;
  line-height: 0.9;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

h2 {
  font-size: 45px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 16px;
  text-transform: uppercase;
}

p {
  margin-bottom: 22px;
}

.intro {
  font-size: 22px;
  line-height: 1.27272;
  margin-bottom: 26px;
}
